{% extends "layout.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
{% if current_user.is_authenticated %}
            
    {% endif %}
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <input class="form-control" type='text', name='q',  {% if request.args.get('q') != None %}
            value="{{request.args.get('q')}}" {%endif%}>
                <button type='submit' class="btn btn-primary mb-2"> Search</button>
        </div>
    </form>
    {% for post in posts.items %}
   <div class="box">
       <div class="text-center">
           <h1 style="font-size: 25px;" >{{post.title}}</h1>
           <h5 style="text-align: left;">{{post.body}}</h5>
           <inline><p style="text-align: left;"> Posted: </p></inline>
           <inline><p style="text-align: left;">Updated: {{post.updatetime}}</p></inline>
           <inline><p style="text-align: left;"> {{post.author.username}} </p></inline>
           {% if current_user.username == post.author.username %}
                <a href="{{url_for('posts.post', post_id=post.id)}}" class="btn btn-primary">Edit</a>
           {% endif %}
      </div>
   </div>

    {% endfor %}

    <!-- Pagination Links-->
<div class="text-right">
  <a href="{{ url_for('posts.posts', page=posts.prev_num, q=q) }}"
     class="btn btn-outline-dark 
     {% if posts.page == 1 %}disabled{% endif %}">
      &laquo;
  </a>
<!-- Loop through the number of pages to display a link for each-->
  {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
          {% if posts.page == page_num %}
          <a href="{{ url_for('posts.posts', page=page_num, q=q) }}"
             class="btn btn-dark">
              {{ page_num }}
          </a>
          {% else %}
          <a href="{{ url_for('posts.posts', page=page_num, q=q) }}"
             class="btn btn-outline-dark">
              {{ page_num }}
          </a>
          {% endif %}
      {% else %}
          ...
      {% endif %}
  {% endfor %}
  <a href="{{ url_for('posts.posts', page=posts.next_num, q=q) }}"
     class="btn btn-outline-dark 
     {% if posts.page == posts.pages %}disabled{% endif %}">
      &raquo;
  </a>
</div>
<p class="text-right mt-3">
 Showing page {{ posts.page }} of {{ posts.pages }}
</p>
</div>
{% endblock %}